Import and read csv

In [22]:
import pandas as pd
URL = 'https://raw.githubusercontent.com/fivethirtyeight/guns-data/master/interactive_data.csv'
df = pd.read_csv(URL)
df

,Unnamed: 0,Intent,Gender,Age,Race,Deaths,Population,Rate
0,1,None selected,None selected,None selected,None selected,33599,316299978,10.6
1,2,None selected,None selected,None selected,White,22079,197369634,11.2
2,3,None selected,None selected,None selected,Black,7765,38896382,20.0
3,4,None selected,None selected,None selected,Hispanic,3007,54049078,5.6
4,5,None selected,None selected,None selected,Asian/Pacific Islander,442,16315561,2.7
...,...,...,...,...,...,...,...,...
535,536,Unknown,Male,5,White,0,0,NaN
536,537,Unknown,Male,5,Black,0,0,NaN
537,538,Unknown,Male,5,Hispanic,0,0,NaN
538,539,Unknown,Male,5,Asian/Pacific Islander,0,0,NaN
539,540,Unknown,Male,5,Other,0,0,NaN

Compute total population and total number of deaths

In [40]:
population = df.loc[0, 'Population']
deaths = df.loc[0, 'Deaths']
population, deaths

(316299978, 33599)

1. Nearly 2/3 of all gun deaths are *suicides*

Get the suicide dataframe and extract the total number of deaths

In [43]:
dsuicide = df[df['Intent'] == 'Suicide']
deaths_by_suicide = dsuicide.iloc[0, dsuicide.columns.get_loc('Deaths')]

suicide_ratio = deaths_by_suicide / deaths
suicide_ratio

0.6267448435965356

2. More than 85 percent of suicide victims are male.

In [42]:
mdsuicide = dsuicide[dsuicide['Gender'] == 'Male']
deaths_by_suicide_male = mdsuicide.iloc[0, mdsuicide.columns.get_loc('Deaths')]
male_suicide_ratio = deaths_by_suicide_male / deaths_by_suicide
male_suicide_ratio

0.8624750688574414

3. Around a third of all gun deaths are homicides.

In [44]:
dhomicide = df[df['Intent'] == 'Homicide']
deaths_by_homicide = dhomicide.iloc[0, dhomicide.columns.get_loc('Deaths')]
homicide_ratio = deaths_by_homicide / deaths
homicide_ratio

0.3489984820976815

4. Around two-thirds of homicide victims who are males in the age-group of 15--34 are black.

In [92]:
dhomicide_male_young = dhomicide[(dhomicide['Gender'] == 'Male') & (dhomicide['Age'] == '15 - 34')]
deaths_by_homicide_male_young = dhomicide_male_young.iloc[0, dhomicide_male_young.columns.get_loc('Deaths')]
dhomicide_male_young_black = dhomicide_male_young[dhomicide_male_young['Race'] == 'Black']
deaths_by_homicide_male_young_black = dhomicide_male_young_black.iloc[0, dhomicide_male_young_black.columns.get_loc('Deaths')]
homicide_male_young_black_ratio = deaths_by_homicide_male_young_black / deaths_by_homicide_male_young
homicide_male_young_black_ratio

0.6613496932515337

5. Women constitue only 15 percent of the total homicide victims.

In [97]:
wdhomicide = dhomicide[dhomicide['Gender'] == 'Female']
deaths_by_homicide_women = wdhomicide.iloc[0, wdhomicide.columns.get_loc('Deaths')]
women_homicide_ratio = deaths_by_homicide_women / deaths_by_homicide
women_homicide_ratio

0.15273750639604297